.App {
  text-align: center;
  font-family: "Sofia";
  font-size: 20px;
}

.typewriter h1 {
  color: white;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end),blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  1000% { border-color: transparent }
}
ul{
  list-style-type: none;
  font-size: 40px;
  text-transform: capitalize;
  box-shadow:1px 1px 2px 1px rgba(1,1,1,0.2);
  height:60px;
  padding: 10px;
}
.com{
  width: 40%;
  left:30%;
  margin-top: 100px;
}
.box{
  height: 400px;
  background: rgba(1,1,1,0.8);
  color: white;
  width: 100%;
}
.heading{
  font-size: 40px;
  padding-top:100px;
}
.box1{
  height:600px;
  color: white;
  width: 100%;
}
.box2{
  height:500px;
  background: rgba(1,1,1,0.8);
  color: white;
  width: 100%;
}
.fa-linkedin-square,.fa-github,.fa-envelope-o{
  color:white;
}
.connect{
  padding: 10px;
  margin-left: 20px;
}
.connect:hover{
  border-radius: 50%;
  border: 2px solid white;
  align-items: center;
}
.spin{
  width:20px;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}